In [1]:
%load_ext lab_black
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys

module_path = os.path.abspath(os.path.join("../src"))
if module_path not in sys.path:
    sys.path.append(module_path)

# Complex example
This demonstrates a complex example with multiple nested arrays. It reads from `complex_example.json`.

In [3]:
import json
from pprint import pprint

In [4]:
with open("complex_example.json", "r") as f:
    json_str = f.read()
    data = json.loads(json_str)

In [5]:
print(json_str)

[
  {
    "name": "Austin",
    "address": {
      "lines": [
        "123 Main St",
        "Unit 314"
      ],
      "city": "Somewhere",
      "state": "TX"
    },
    "age": 100,
    "pets": [
      {
        "kind": "dog",
        "name": "Kenzie",
        "age": 1
      },
      {
        "kind": "robot",
        "name": "Momo",
        "brand": "Neato"
      }
    ],
    "languages": [
      {
        "name": "English",
        "fluency": 10
      },
      {
        "name": "Spanish",
        "fluency": 1
      }
    ],
    "jobs": [
      {
        "company": "Tangible Intelligence",
        "title": "CTO"
      }
    ]
  },
  {
    "name": "Bob",
    "address": {
      "lines": [
        "123 Nowhere Ln"
      ],
      "city": "Anywhere",
      "state": "KS"
    },
    "age": 99,
    "pets": [
      {
        "kind": "cat",
        "name": "Snugglebug",
        "age": 10
      },
      {
        "kind": "fish",
        "name": "Sharky"
      }
    ],
    "languages": [
      {
        "name": "English",
        "fluency": 10
      },
      {
        "name": "French",
        "fluency": 5
      }
    ],
    "jobs": [
      {
        "company": "Tangible Intelligence",
        "title": "Ex. Assistant"
      },
      {
        "company": "Conjectural Technologies",
        "title": "Founder"
      }
    ]
  }
]

Now the tidy-data format.

In [6]:
from tidify import tidify

In [7]:
tidify(data)

,row_index,age,name,address.city,address.lines,address.state,jobs.index,jobs.company,jobs.title,languages.index,languages.fluency,languages.name,pets.index,pets.age,pets.brand,pets.kind,pets.name,address.lines.index
0,0,100,Austin,Somewhere,123 Main St,TX,0,Tangible Intelligence,CTO,0,10,English,0,1,<NA>,dog,Kenzie,0
1,0,100,Austin,Somewhere,Unit 314,TX,0,Tangible Intelligence,CTO,0,10,English,0,1,<NA>,dog,Kenzie,1
2,0,100,Austin,Somewhere,123 Main St,TX,0,Tangible Intelligence,CTO,1,1,Spanish,0,1,<NA>,dog,Kenzie,0
3,0,100,Austin,Somewhere,Unit 314,TX,0,Tangible Intelligence,CTO,1,1,Spanish,0,1,<NA>,dog,Kenzie,1
4,0,100,Austin,Somewhere,123 Main St,TX,0,Tangible Intelligence,CTO,0,10,English,1,<NA>,Neato,robot,Momo,0
5,0,100,Austin,Somewhere,Unit 314,TX,0,Tangible Intelligence,CTO,0,10,English,1,<NA>,Neato,robot,Momo,1
6,0,100,Austin,Somewhere,123 Main St,TX,0,Tangible Intelligence,CTO,1,1,Spanish,1,<NA>,Neato,robot,Momo,0
7,0,100,Austin,Somewhere,Unit 314,TX,0,Tangible Intelligence,CTO,1,1,Spanish,1,<NA>,Neato,robot,Momo,1
8,1,99,Bob,Anywhere,123 Nowhere Ln,KS,0,Tangible Intelligence,Ex. Assistant,0,10,English,0,10,<NA>,cat,Snugglebug,0
9,1,99,Bob,Anywhere,123 Nowhere Ln,KS,1,Conjectural Technologies,Founder,0,10,English,0,10,<NA>,cat,Snugglebug,0
10,1,99,Bob,Anywhere,123 Nowhere Ln,KS,0,Tangible Intelligence,Ex. Assistant,1,5,French,0,10,<NA>,cat,Snugglebug,0
11,1,99,Bob,Anywhere,123 Nowhere Ln,KS,1,Conjectural Technologies,Founder,1,5,French,0,10,<NA>,cat,Snugglebug,0
12,1,99,Bob,Anywhere,123 Nowhere Ln,KS,0,Tangible Intelligence,Ex. Assistant,0,10,English,1,<NA>,<NA>,fish,Sharky,0
13,1,99,Bob,Anywhere,123 Nowhere Ln,KS,1,Conjectural Technologies,Founder,0,10,English,1,<NA>,<NA>,fish,Sharky,0
14,1,99,Bob,Anywhere,123 Nowhere Ln,KS,0,Tangible Intelligence,Ex. Assistant,1,5,French,1,<NA>,<NA>,fish,Sharky,0
15,1,99,Bob,Anywhere,123 Nowhere Ln,KS,1,Conjectural Technologies,Founder,1,5,French,1,<NA>,<NA>,fish,Sharky,0

We can also exclude certain "paths" that we don't care about (and may not want cartesian expanded), or override the default separator.

In [8]:
tidify(data, sep="__", exclude=["languages", "pets.age"])

,row_index,age,name,address__city,address__lines,address__state,jobs__company,jobs__index,jobs__title,pets__age,pets__brand,pets__index,pets__kind,pets__name,address__lines__index
0,0,100,Austin,Somewhere,123 Main St,TX,Tangible Intelligence,0,CTO,1,<NA>,0,dog,Kenzie,0
1,0,100,Austin,Somewhere,Unit 314,TX,Tangible Intelligence,0,CTO,1,<NA>,0,dog,Kenzie,1
2,0,100,Austin,Somewhere,123 Main St,TX,Tangible Intelligence,0,CTO,<NA>,Neato,1,robot,Momo,0
3,0,100,Austin,Somewhere,Unit 314,TX,Tangible Intelligence,0,CTO,<NA>,Neato,1,robot,Momo,1
4,1,99,Bob,Anywhere,123 Nowhere Ln,KS,Tangible Intelligence,0,Ex. Assistant,10,<NA>,0,cat,Snugglebug,0
5,1,99,Bob,Anywhere,123 Nowhere Ln,KS,Conjectural Technologies,1,Founder,10,<NA>,0,cat,Snugglebug,0
6,1,99,Bob,Anywhere,123 Nowhere Ln,KS,Tangible Intelligence,0,Ex. Assistant,<NA>,<NA>,1,fish,Sharky,0
7,1,99,Bob,Anywhere,123 Nowhere Ln,KS,Conjectural Technologies,1,Founder,<NA>,<NA>,1,fish,Sharky,0